@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.project-image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project-image img{
  width: 300px;
  height: 300px;
}
.bodytext li{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
  line-height: 25px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
  line-height: 25px;
}
hr{
  border-color: rgb(255, 173, 176);
  background-color: rgb(255, 173, 176);
  border-style: solid;
  margin-top: 0px;
  padding-top: 0px;
  text-decoration: none;
}
h2{
  margin-bottom: 7px;
}
/* Thumbnail Stuff */
.codecontent .project-title{
  margin-top:20px;
}
.project-code{
  position: relative;
}
.content {
  transition: .5s ease;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}
.codecontent{
  text-align: left;
  transition: none;
  opacity: 1;
}
.buttons{
  position: relative;
  left: 50%;
  top:-5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
}
.buttons a{
  transition: .5s ease;
  opacity: 0;
  background-color:rgb(255, 242, 242);
  color: rgb(204, 111, 111);
  font-size: 16px;
  padding: 12px ;
  display: block;
  width: 88%;
}
.project:hover .buttons a{
  opacity: 1;
}

.project-title{
  color: rgb(204, 111, 111);
}
.project-description{
  color: rgb(204, 111, 111);
}
.bodytextwide p{
  text-align: center;
}
.project:hover .project-image {
  color: rgb(204, 111, 111);
  opacity: 0.3;
}
.project a:hover .project-image {
  color: rgb(204, 111, 111);
  opacity: 0.3;
}

.project:hover .content {
  opacity: 1;
}
.project-title{
  margin-top: 40px;
  font-size: 20px;
}

.footer{
  margin-top: 100px;
  margin-bottom: 15px;
}
.footer p{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.footer a{
  font-size: 135%;
}
.nochange a{
  font-size: 100%;
}
a{
  text-decoration: none;
  color: rgb(204, 111, 111);
}
a:hover{
  animation-name: fade;
  animation-duration: .5s;
  color: rgb(94, 24, 24);
}
@keyframes fade {
  from {color: rgb(204, 111, 111);}
  to {color: rgb(115, 33, 33);}
}
.projmargins{
  margin-left: 15%;
  margin-right: 15%;
  display: block;
}
.projmargins h2{
  text-align: left;
  margin-top: 0px;
}
.projmargins h3{
  margin-top: 20px;
  text-align: left;
}

.projmargins h4{
  margin-bottom: 0px;
  margin-top: 40px;
  color: rgb(204, 111, 111);
}
.projmargins img{
  display: block;
  margin: auto;
  width: 800px;
}
.special{
  text-align: center;
}
.special img{
  width: 250px;
}
.center1{
  margin: auto;
}
h2.forty{
margin-top: 40px;
}
.forty h2{
margin-top: 40px;
}
.center{
  text-align: center;
}
.parent{
  display: flex;
   overflow: hidden;
   margin: 1em 0;
}
.col{
  display: flex;
   flex-direction: column;
   flex-basis: 100%;
   flex: 1;
   margin-right: 40px;
}
.row{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
  margin: auto;
  }

.col img{
  width: 50%;
  position: relative;
  width: 30vw;
}
.bodytext{
  padding-left: 7%;
  padding-right: 7%;
}
.projmargins .row{
  flex-wrap: nowrap;
}

.project{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}
.part1 img{
  margin-top: 20%;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  box-shadow: 7px 7px rgb(255, 173, 176);
}
.part2{
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  width: 60%;
}
.part2 h3{
  text-align: left; 
}
.navigation h1{
  padding-left: 7%;
  padding-right: 7%;
  text-align: left;
}
.header{
  text-align: left;
}
.item{
  color: black;
  margin-left: 7%;
  padding: 1%;
  background-image: linear-gradient(rgb(255, 242, 242), rgb(255, 242, 242));
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.item:hover {
    background-size: 100% 88%;
}
/* header styling */
.projheader{
  width: 900px;
  margin: auto;
}
.center1 img{
  margin-top: 20px;
  width: 900px;
  display: block;
  margin: auto;
}
.projheader h1{
  display: block;
  text-align: left;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-top: 0px;
  padding: 0px;
}
.projheader em{
  font-size: 1.3em;
  color: #ff7083;
  margin-top: 0px;
}
em{
  color: #ff7083;
}
.projheader h2{
  margin-top: 5px;
  padding-top: 0px;
  margin-bottom: 5px;
  font-size: 1.25em;
  color:black;
}
.projheader h3{
  font-size:1em;
  color:#ff7083;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}
.projheader .row{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
}
.projheader .col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: 10px;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: inline-block;
  text-align: left;
  font-size: 45px;
}
h2{
  font-size: 30px;;
  font-family: 'Quicksand', sans-serif;
}

.dropdwn h3{
  display: inline-block;
  margin-top: 0px;
}
.dropdwn button{
  display: inline-block;
  border: none;
  background: white;
  font-size: 20px;
}
.listtext{
  display: inline-block;
  margin-right: 45px;
}
.listtext1{
  display: flex;
  flex-direction: row;
}

/* bottom bar */
.projfooter{
  display:flex;
}
.projfooter h3{
  font-family: 'Quicksand', sans-serif;
margin-top: 0px;
color: rgb(204, 111, 111);
}
.right{
  flex: 1;
}
.right h2, h3{
  text-align: right;
}
.left{
  flex: 1;
}
.left h2{
  text-align: left;
}
.left h3{
  text-align: left;
}
@media (max-width: 900px) {
  .part2 {
    width: 93vw;

  }
  hr{
margin-top: 3%;
}
.projheader{
  width: 90vw
}
.projmargins img{
  width: 90vw;
}
.center1 img{
 width: 90vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.projmargins .row{
  flex-direction: column;
}

  .projmargins{
    margin-left: 5%;
    margin-right: 5%;
  }
  .bodytext{
    padding-left: 3%;
    padding-right: 3%;
  }
  .projfooter h2{
    font-size: 1.25em;
  }
  .projfooter h3{
    font-size: .9em;
  }
}
