.titledesc p{
  text-align: left;
  font-size: 150%;
}
.typewriter{
  display: inline-block;
  color: rgb(204, 111, 111);
}
.bodytextwide{
  padding-left: 7%;
  padding-right: 7%;
}
.bodytextwide .project{
  margin-left: 20px;
  margin-right: 20px;
}
